body {
  background: linear-gradient(#615dad, #ffc8da);
  background-size: 100%;
  min-height: 100vh;
}

.stredny_panel {
  color: #ffffff;
  background-color: #283e50;
  text-align: center;
  max-width: 380px;
  border-radius: 5% 5% 0 0;
  margin: auto;
  margin-top: 5%;
}

.pravidla {
  border-radius: 0.5% 0.5% 0 0;
  padding-top: 15px;
}

.uvod__obrazok {
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.uvod__nadpis,
.pravidla__nadpis,
.hra__nadpis {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: normal;
}

.text {
  padding: 11px;
  padding-top: 0;
  margin: 0;
  line-height: 2;
  font-size: 1em;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.pravidla__zoznam {
  text-align: left;
  margin: 40px;
}

.pravidla__zoznam li {
  margin-bottom: 5px;
}

.tlacitko {
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 0;
}

.pravidla__tlacitko,
.uvodna_stranka {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.spustenie__tlacitko {
  background-color: #0197f6;
}

.pravidla__tlacitko:hover,
.uvodna_stranka:hover,
.pravidla__tlacitko:focus,
.uvodna_stranka:focus {
  background-color: #1cbb96;
}

.spustenie__tlacitko:hover,
.spustenie__tlacitko:focus {
  background-color: #0090e9;
}

.pravidla__ukazky {
  margin-bottom: 15px;
}

.pravidla__titulok {
  font-size: 0.8em;
  font-style: italic;
}

.pravidla__ukazky img {
  width: 100%;
}

.symbol {
  filter: invert();
  width: 1em;
  height: 1em;
}

@media (min-width: 600px) {
  .pravidla {
    max-width: 600px;
  }
  .pravidla__ukazky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .pravidla__ukazka {
    flex-basis: 45%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .pravidla {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hra {
  background: none;
  max-width: 80vmin;
}

.hra__menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.hra__tlacitka {
  flex-basis: 110px;
  display: flex;
  justify-content: space-between;
}

.hra__tlacitko {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.hra__symbol {
  width: 1.5em;
  height: 1.5em;
  margin-top: 7.5px;
}

.hra__hraciePole {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hraciePole__tlacitko {
  opacity: 0.4;
  flex: 1 1 10%;
  height: calc(80vmin * 0.1);
  border: 1px solid black;
}

.hraciePole__tlacitko:hover,
.hraPole__tlacitko:focus {
  opacity: 0.7;
}

.hraciePoleKruzok {
  background: url(Podklady-obrazky/circle.svg) center no-repeat #dcc1f3;
  background-size: 60%;
  animation: createPicture 0.15s;
  opacity: 0.8;
}

.hraciePoleKrizik {
  background: url(Podklady-obrazky/cross.svg) center no-repeat #dcc1f3;
  background-size: 60%;
  animation: createPicture 0.15s;
  opacity: 0.8;
}

@keyframes createPicture {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
